h1{
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    margin:20px;
    padding:10px;
}

.section{
    display:flex;
    flex-direction: column;
    height:300px;
    width:300px;
    align-items: center;
    padding:20px;
    margin:auto;
    background-color: white;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 6px 6px 5px 6px whitesmoke;

}
span{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin:10px;
    border:4px solid pink;
    border-radius: 5px;
    height:40px;
    width:40px;
}
div{
    display: flex;
    margin:10px;
    padding:10px;
    gap:10px;
}
button{
    width:60px;
    display:flex;
    height:50px;
    color:pink;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin:auto;
    font-size: 20px;
    border-radius: 30px;
    
    
}
button:disabled{
    background-color: red;
}
p{
    border:3px solid lightpink;
    font-size: 20px;
    border-radius: 5px;
}